body{
	transition: all ease 1s;
	position: fixed;
}

#grid{
	grid-template-rows: repeat(3, 150px);
	grid-template-columns: repeat(3, 150px);
	display: grid;
	position: fixed;
}

#grid1{
	grid-column-start: 1;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 3;
	width: 480px;
	height: 300px;
	background-image: url('men1.jpg');
	position: relative;
	opacity: 0;
}

#grid2{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	background-image: url('men2.jpg');
	width: 480px;
	height: 300px;
	position: relative;
	opacity: 0;
}

#grid3{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	position: relative;
	width: 480px;
	height: 300px;
	background-image: url('men3.jpg');
	opacity: 0;
}

#grid4{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	position: relative;
	width: 480px;
	height: 300px;
	background-image: url('https://www.larazon.es/resizer/IcYW0w9Xyii7Q6GhXiMDYDsuYHk=/840x0/filters:focal(1184x978:1194x968):format(jpg)/cloudfront-eu-central-1.images.arcpublishing.com/larazon/7M3K3A7LMRAELA4RPYN4F5LR4U.jpg');
	opacity: 0;
}

#grid5{
	grid-column-start: 1;
	grid-column-end: 1;
	grid-row-start: 1;
	grid-row-end: 3;
	position: fixed;
	width: 480px;
	height: 300px;
	background-image: url('https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/s01-zara-lingerie-avd-260920-142-03-qc-min-1603367238.jpg?resize=640:*');
	opacity: 0;
}

#grid3 a{
	position: relative;
	top: 130px;
	color: white;
	background-color: black;
	text-decoration: none;
	padding: 15px;
	margin: 20px;
}

#p1{
	font-style: times;
	left: 250px;
	position: relative;
}

#p2{
	font-style: times;
	left: 50px;
	position: relative;
}

#grid6, #grid7, #grid8, #grid9{
	width: 130px;
	height: 80px;
	background-color: #87CEFA;
	position: relative;
	top: 50px;
	opacity: 0;
	transition: all ease 0.3s;
}

#grid6{
	background-size: 100%;
	background-image: url('men1.jpg');
}

#grid7{
	background-size: 100%;
	background-image: url('men2.jpg');
}

#grid8{
	background-size: 100%;
	background-image: url('men3.jpg');
}

#grid9{
	background-size: 100%;
	background-image: url('https://www.larazon.es/resizer/IcYW0w9Xyii7Q6GhXiMDYDsuYHk=/840x0/filters:focal(1184x978:1194x968):format(jpg)/cloudfront-eu-central-1.images.arcpublishing.com/larazon/7M3K3A7LMRAELA4RPYN4F5LR4U.jpg');
}

#grid10{
	grid-column-start: 4;
	grid-column-end: 4;
	grid-row-start: 1;
	grid-row-end: 1;
	position: relative;
	font-size: 70px;
	opacity: 0;
	transition: all ease 1s;
}